@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');

div {
    background-color: #ece9e9;
    display: block;
    box-sizing: border-box;
    width: 70%;
    height: 30%;
    padding: 0 20px 10px 30px;
    border: 4px solid rgb(196, 196, 196);
    margin: 5%;
    /* padding: 0px 105px;px 5px  */
}

li, i {
    display: inline-block;
}

i{
    font-size: 20px;
    color: purple;
}

li {
    list-style: none;
    font-family: Oswald;
    font-size: 20px;
}

h1 {
    margin: 2px;
    font-style: oblique;
    font-family: "Supermercado One";
    font-size: 37px;
}
