:root {
    --font-color: #fff;
}


body {
    background-image: linear-gradient(#a8c0ff, #3f2b96);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Noto sans", sans-serif;
}

h2 {
    font-size: 30px;
    font-style: italic;
    color: var(--font-color);
}
.boxPrincipal {
    display: flex;
    border: 0px solid var(--font-color);
    width: 60vw;
    height: 60vh;
}

.box {
    display: flex;
    border: 1px solid var(--font-color);
    width: 19.8vw;
    height: 19.8vh;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    font-size: 40px;
    color: var(--font-color);
    justify-content: center;
}

.box:hover {
    background-color: #c83d38;
    color: var(--font-color);
}


button {
    background-color: #e75170;
    border: none;
    color: var(--font-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 2px;
    cursor: pointer;
    height: 40px;
    width: 125px;
}

button:hover {
    background-color: #a8c0ff;
    color: var(--font-color);
  }